* {
    color: #f8ecd1;
    background-color: rgb(51, 46, 46);
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 0 20px;
    flex-direction: column;
}
input {
    display: none;
}

.slider-wrapper {
    max-width: 50rem;
    display: flex;
}

.slider-wrapper img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border: 0.1rem solid #deb6ab;
    box-shadow: 0 0 0.6rem #85586f;
    border-radius: 0.5rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
    max-width: 50rem;
    width: 100%;
    overflow: hidden;
}
.footer .img-descriptions {
    display: flex;
    overflow: hidden;
    align-items: center;
}
.footer .img-descriptions span {
    display: flex;
    text-transform: capitalize;
    font-size: 1.5rem;
    transition: opacity 0.5s ease-in-out;
    max-width: 0;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
}

.footer .radioButtons {
    display: flex;
    flex-direction: row;
}
.footer .radioButtons .btn {
    height: 2.3rem;
    width: 2.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .radioButtons .btn span {
    height: 1.3rem;
    width: 1.3rem;
    box-shadow: 0 0 0.6rem #85586f;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    display: block;
}
.btn:hover span {
    background-color: #deb6ab;
    border-color: #deb6ab;
    box-shadow: 0 0 0.6rem #85586f;
}

.slider-wrapper .slide {
    height: 100%;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    max-width: 0;
    visibility: hidden;
    opacity: 0;
}

#img-1:checked ~ .slider-wrapper .slide-1,
#img-2:checked ~ .slider-wrapper .slide-2,
#img-3:checked ~ .slider-wrapper .slide-3,
#img-4:checked ~ .slider-wrapper .slide-4 {
    max-width: inherit;
    visibility: visible;
    opacity: 1;
}
#img-1:checked ~ .footer .img-descriptions span:nth-child(1),
#img-2:checked ~ .footer .img-descriptions span:nth-child(2),
#img-3:checked ~ .footer .img-descriptions span:nth-child(3),
#img-4:checked ~ .footer .img-descriptions span:nth-child(4) {
    max-width: inherit;
    max-height: inherit;
    visibility: visible;
    opacity: 1;
}
#img-1:checked ~ .footer .btn:nth-child(1) span,
#img-2:checked ~ .footer .btn:nth-child(2) span,
#img-3:checked ~ .footer .btn:nth-child(3) span,
#img-4:checked ~ .footer .btn:nth-child(4) span,
.btn:active span {
    background-color: #85586f;
    border-color: #85586f;
}

.author {
    margin-top: 10px;
    font-style: italic;
}

.gitlogo {
    width: 50px;
    height: 50px;
    margin: 10rem auto 5px;
}
.gitlogo a {
    transition: all 0.3s ease-in-out;

    fill: #e9d5da;
}
.gitlogo a:hover {
    cursor: pointer;
    fill: #85586f;
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 24px;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer .radioButtons {
        align-self: center;
        margin-bottom: 15px;
    }
    .footer .img-descriptions span {
        font-size: 1rem;
    }
    .gitlogo {
        margin-top: 20rem;
    }
}
